@use '../../styles/variables.scss' as *;
@use '../../styles/functions.scss' as *;

.card {
  width: 300px;

  .sprite {
    background-color: $background-color;
  }

  .title {
    text-transform: capitalize;
    margin: 0;
    text-align: center;
  }
}
