@use '../../styles/variables.scss' as *;

.card {
  width: 300px;

  .sprite {
    background-color: $background-color;
  }

  .title {
    :global .ant-card-meta-title {
      text-transform: capitalize;
    }
  }
}