@use '../../styles/variables.scss' as *;
@use '../../styles/functions.scss' as *;

.card {
  width: pxToVw(300px);

  .sprite {
    background-color: $background-color;
  }

  .title {
    :global .ant-card-meta-title {
      text-transform: capitalize;
    }
  }
}